<template name="backup">
	<div class="col-md-4 col-md-offset-4">
		{{#if addButtonPressed}}
			<h3 class="text-center">Add new Backup Agency</h3>
		{{else}}
			<h3 class="text-center">Request for Backup</h3>
		{{/if}}
		<br>
		<form id="backup-form">
			<table class="table">
				{{#unless addButtonPressed}}
					<tr>
						<th><label for="agency">Agency: </label></th>
						<td>
							<select id="agency" class="form-control">
								<option value=1>Emergency Ambulance</option>
								<option value=2>Rescue and Evacuation</option>
								<option value=3>Fire-Fighting</option>
							</select>
						</td>
					</tr>
					<tr>
						<th><label for="text">Text: </label></th>
						<td><textarea id="text" class="form-control"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><a id="add-agency" href="#">Add another agency</a></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button id="send" class="btn btn-default">Send</button>
							<button id="cancel-send" class="btn btn-default">Cancel</button>
						</td>
					</tr>
				{{else}}
					<tr>
						<th><label for="agency-name">Agency name: </label></th>
						<td>
							<input id="agency-name" class="form-control" type="text">
						</td>
					</tr>
					<tr>
						<th><label for="agency-number">Text: </label></th>
						<td>
							<input id="agency-number" class="form-control" type="text">
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button id="add" class="btn btn-default">Add Agency</button>
							<button id="cancel-add" class="btn btn-default">Cancel</button>
						</td>
					</tr>
				{{/unless}}
			</table>
		</form>
	</div>
</template>