<template name="crisis">
	<div class="col-md-4 col-md-offset-4">
		<h3 class="text-center">Activate Crisis Mode <img src="/img/panic.png"></h3>
		<br>
		<form>
			<table class="table">
				<tr>
					<th><label for="act-code">Activation Code: </label></th>
					<td><input id="act-code" class="form-control" type="text"></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-default">Cancel</button>
						<button class="btn btn-default">Panic!</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</template>