<template name="master"> <!-- this is a master page -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">&nbsp;CENA CMS</a>
				<h1 class="crisis-text {{isCrisis}}">CRISIIIIIIIIIS</h1>
			</div>
			<div class="collapse navbar-collapse" id="navbar-content">
				<ul class="nav navbar-nav navbar-right">
					{{#if currentUser}}
						<li>
							<a id="logout" class="nav-btn" href="#">Logout</a>
						</li>
					{{else}}
						<li>
							<a id="login" class="nav-btn" href="/login">Login</a>
						</li>
					{{/if}}
					<li>
						<a id="new-incident" class="nav-btn" href="/new-incident">New Incident</a>
					</li>
					<li>
						<a id="backup" class="nav-btn" href="/backup">Send Request</a>
					</li>
					<li>
						<a id="map" class="nav-btn" href="/map">View Map</a>
					</li>
					<li>
						<a id="social" class="nav-btn" href="/social">Send Update</a>
					</li>
					<li>
						<a id="report" class="nav-btn" href="/report">Report</a>
					</li>
					<li>
						<a id="settings" class="nav-btn" href="#"><i class="fa fa-cog"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{{> yield}}
	</div>
</template>