<template name="social">

	<div class="col-md-4 col-md-offset-4">
		<h3 class="text-center">Update Social Media</h3>
		<br>
		<form>
			<table class="table">
				<tr>
					<th><label for="incident">Select incident: </label></th>
					<td>
						<select id="incident" class="form-control">
							<option>A</option>
							<option>B</option>
							<option>C</option>
							<option>D</option>
							<option>E</option>
						</select>
					</td>
				</tr>
				<tr>
					<th><label for="content">Content: </label></th>
					<td><textarea id="content" class="form-control"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<label class="checkbox-inline">
							<input type="checkbox" checked>
							<span><img class="icon" src="/img/twitter.png"></span>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" checked>
							<span><img class="icon" src="/img/facebook.png"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-default" id="previewBtn">Preview</button>
						<button class="btn btn-default" id="publishBtn">Publish</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</template>